services:
  mongo:
    image: mongo:7
    container_name: pm-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build:
      context: ./backend
    container_name: pm-backend
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 5000
      MONGO_URI: mongodb://mongo:27017/movie-booking-db
      JWT_SECRET: change_me_in_prod
      CORS_ORIGIN: http://localhost:8080,http://localhost:5173
      SEAT_LOCK_TTL_MS: 300000
      SEAT_REAPER_INTERVAL_MS: 15000
    depends_on:
      - mongo
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ./frontend
    container_name: pm-frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "8080:80"

volumes:
  mongo_data:

